<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="style.css">
    <title>Vue Slider</title>
</head>
<body>
    <section>
        <div id="container" class="container">
            <div  class="slide-wrapper">
                <div class="slide" v-for="(item,i) in immaginiSlider" :class="indice == i ? 'active': ''">
                    <img :src="item.immagine" alt="">
                    <div class="testo">
                        <h1>{{item.titolo}}</h1>
                        <h4>{{item.descrizione}}</h4>
                    </div>
                </div>
            </div>
            <div class="item-wrapper">
                <div class="item" v-for="(item,i) in immaginiSlider" :class="indice == i ? 'active': ''" :class="indice" @click="immagineAttiva(i)">
                    <img :src="item.immagine" alt="">
                </div>
                <div id="bottoni">
                    <span>
                        <i id="next" @click="next" class='fas fa-chevron-circle-down'></i>
                    </span>
                    <span>
                        <i id="prev" @click="prev" class='fas fa-chevron-circle-up'></i>
                    </span>
                </div>
            </div>
        </div>
    </section>

    

    <script type="text/javascript" src="myscript.js">
    </script>

</body>
</html>
